---
import { Icon } from "astro-icon";

interface Props {
	name: string;
	sm?: boolean;
}

const { name, sm } = Astro.props;
---

<div class={`inline-block ${sm ? "h-4 w-4" : "h-6 w-6"}`}>
	<Icon {...{ name }} />
</div>
