---
import Svg from "../lib/Svg.astro";
---

<div class="lg:absolute lg:top-16 lg:-mb-10 w-fit lg:h-full">
	<div class="lg:sticky lg:top-4">
		<a
			href="/"
			class="border lg:hover:bg-[#F0EEFD] lg:hover:border-indigo-400 rounded-full lg:rounded-lg p-4 pb-3 lg:px-3 lg:pt-2 lg:pb-1 font-bold text-sm flex items-center gap-2 lg:m-0 ml-auto w-fit fixed bottom-6 right-6 lg:static bg-indigo-400 max-lg:text-white max-lg:hover:bg-indigo-500 lg:bg-purple-50 lg:transition-[background-color,border-color] lg:duration-300 lg:active:transition-none lg:active:bg-indigo-100">
			<div class="lg:hidden">
				<Svg name={"previous"} />
			</div><div class=""><Svg name="home" /></div>
		</a>
	</div>
</div>
